<div markdown="0" class="community-projects">
{% for project in site.projects_using_padauk %}
{% assign repo = project.data %}
<div>
  <a class="card" href="{{ repo.html_url }}">
    <h4>
      <span class="owner">{{ repo.owner.login | escape }}</span>
      <br />
      <strong>{{ repo.name | escape }}</strong>
    </h4>
    <p>
      {{ repo.description | escape }}
    </p>
    <div class="spacer"></div>
    {% if project.type == 'proprietary' %}
      <p class="callout">
        :warning:
        <span>Uses the proprietary toolchain</span>
      </p>
    {% elsif project.type == 'free-pdk' %}
      <p class="callout success">
        :tada:
        <span>Uses the Free PDK toolchain</span>
      </p>
    {% endif %}
    <div class="meta">
      {% assign topics = repo.topics | where_exp:"topic","topic != 'padauk' and topic != 'pdk' and topic != 'free-pdk'" %}
      {% if topics %}
        {% for topic in topics %}
          <code>{{ topic }}</code>
        {% endfor %}
        <br />
      {% endif %}
      updated {{ repo.pushed_at | timeago }}
      {% if repo.stargazers_count > 0 %}
        · {{ repo.stargazers_count }} :star:
      {% endif %}
    </div>
  </a>
</div>
{% endfor %}
</div>