<div class="table-responsive">
    <table>
    <thead>
        <tr class="header">
            <th>MCU</th>
            <th>OSS Status</th>
            <th>Arch.</th>
            <th>max IO</th>
            <th>ROM</th>
            <th>RAM</th>
            <th>Timers</th>
            <th>PWM</th>
            <th>CMP</th>
            <th>ADC</th>
            <th>Special</th>
            <th>Padauk Links</th>
        </tr>
    </thead>
    <tbody>
        {% comment %}
            Get all chips with the selected memory type.
            Group them by their "related_to" attribute if it exists (use their title otherwise).
            This is so that related chips are directly after one another.
        {% endcomment %}
        {% assign groups = site.pages
            | where_exp:"page","page.layout == 'chip' and page.programming == include.memorytype"
            | group_by_exp:"chip","chip.related_to | default: chip.title" %}
        {% for group in groups %}
            {% for page in group.items -%}
                <tr>
                    <td markdown="span">**[{{ page.title }}]({{ page.url }})**</td>
                    <td>{{ page.oss_status }}</td>
                    <td>{{ page.instruction_set | link_instruction_set }}</td>
                    <td>{{ page.maxio}}</td>
                    <td>{{ page.rom_size | replace: " ", "&nbsp;" | replace: ",", "<br>" | replace: "-", "&#8209;" | markdownify }}</td>
                    <td>{{ page.ram_size }}</td>
                    <td>{{ page.timers | replace: " ", "&nbsp;" | replace: ",", "<br>" | replace: "-", "&#8209;"  }}</td>
                    <td>{{ page.PWM | replace: " ", "&nbsp;" | replace: ",", "<br>" | replace: "-", "&#8209;" }}</td>
                    <td>{{ page.Comp}}</td>
                    <td>{{ page.ADC | replace: " ", "&nbsp;" | replace: ",", "<br>" | replace: "-", "&#8209;" }}</td>
                    <td>{{ page.Special}}</td>
                    <td markdown="span">
                        [Product Page]({{ page.product_page }})
                        <br />
                        [Datasheet]({{ site.datasheet_urls[page.title] }})
                    </td>
                </tr>
            {%- endfor %}
        {% endfor %}
    </tbody>
    </table>
</div>
