---
---


$content-width: 1040px;

@import "minima";

.badge {
  border-radius: 0.25em;
  padding: 0.125em;
  background: #f6d66c;
  font-size: 0.85em;
}

.pinout-diagram {
  margin: 2em 0;

  iframe {
    width: 100%;
  }
}
td {
  text-align: center;
}
th {
  text-align: center;
}

.edit-page {
  text-align: right;
}

// Wrap tables in <div class="table-responsive>...</div> to make them scroll horizontally.
.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  margin-bottom: $spacing-unit;

  table {
    margin-bottom: 0;
  }
}