---
layout: narrow
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <ul>
      <li><strong>Instruction Set</strong>: {{ page.instruction_set | link_instruction_set }}</li>
      <li><strong>ROM Size</strong>: {{ page.rom_size }}</li>
      <li><strong>RAM Size</strong>: {{ page.ram_size }} bytes</li>
      <li><strong>Programming Mode</strong>: {{ page.programming | upcase }}</li>
      <li><strong>Supported by Easy PDK Programmer</strong>: {% if page.easypdk_supported %}yes{% else %}no{% endif %}</li>
      <li><strong>Official Product Page</strong>: <a href="{{ page.product_page }}">{{ page.product_page }}</a></li>
    </ul>

    {{ content }}
  </div>
</article>

{% include edit-page.html %}

{% if page.has_pinout_diagram %}
</div> <!-- Close wrapper div of parent layout -->

<div class="pinout-diagram">
  <iframe id="pinout-diagram" frameborder="0" allowtransparency="true"
    src="https://christianflach.de/ic-pinout-diagram-generator?ic={{ page.title | url_encode }}&embed=1">
  </iframe>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.11/iframeResizer.min.js"
  integrity="sha512-HY1lApSG7xxx8mYzs/lxRs+c5AaDThRaa3pvQB6puiswvf2lWqMJVf+8qSGiL4ZXfHQoPIqbd1TlpqfycPo3cQ=="
  crossorigin="anonymous"></script>
<script>
  iFrameResize({ sizeHeight: true, sizeWidth: false, scrolling: 'omit' }, '#pinout-diagram');
</script>
<div class="wrapper"> <!-- Reopen wrapper div of parent layout -->

{% endif %}

