---
layout: narrow
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <ul>
      <li><strong>Instruction Set</strong>: {{ page.instruction_set | link_instruction_set }}</li>
      <li><strong>ROM Size</strong>: {{ page.rom_size | markdownify | strip_html }}</li>
      <li><strong>RAM Size</strong>: {{ page.ram_size }} bytes</li>
      <li><strong>Programming Mode</strong>: {{ page.programming | upcase }}</li>
      <li><strong>Supported by Easy PDK Programmer</strong>: {% if page.easypdk_supported %}yes{% else %}no{% endif %}</li>
      <li><strong>Product Page</strong>: <a href="{{ page.product_page }}">{{ page.product_page }}</a></li>
      <li><strong>Datasheet</strong>: <a href="{{ site.datasheet_urls[page.title] }}">{{ site.datasheet_urls[page.title] }}</a></li>
    </ul>

    {% if page.notes %}
      <div class="callout">{{ page.notes | markdownify }}</div>
    {% endif %}

    {{ content }}

    <h2>Code Options</h2>
    <p>Learn more about code options <a href="http://127.0.0.1:4000/tutorial#code-options">in the tutorial</a>.</p>
    {% capture code_options %}{% include device_code_options.html chip=page.title %}{% endcapture %}
    {{ code_options | markdownify }}
  </div>
</article>

{% include edit-page.html %}

{% if page.has_pinout_diagram %}
</div> <!-- Close wrapper div of parent layout -->

<div id="pinout-diagram"></div>
<script src="https://unpkg.com/@cmfcmf/pinout-diagrams/dist/sdk.min.js"></script>
<script>
  PinoutDiagrams.render(document.getElementById('pinout-diagram'), {
    ics: ["{{ page.title }}"],
    maxWidth: '980px'
  });
</script>
<div class="wrapper"> <!-- Reopen wrapper div of parent layout -->

{% endif %}

